<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<p>
  <strong>Github:</strong>
  <%= @user.github %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @user.grade_id %>
</p>

<p>
  <strong>Major:</strong>
  <%= @user.major_id %>
</p>

<p>
  <strong>Bureau:</strong>
  <%= @user.bureau_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
